main {
    margin: 1.5% 5% 1.5% 5%;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    padding-bottom: 3% ;
    text-align: center ;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .tests {
    width: 90%;
    padding: 1% 5% 1% 5%;
    
    /* display: flex; */
  }
  
  
  .option_div label, label[for="Opt_1"] {
    display: flex;
    align-items: center;
  
  }
  
  label[for="Opt_1"] input[type="checkbox"] {
    margin: 0% 0% 0% 2%;
  }
  
  .test {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
    
    margin-bottom: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    
  }

  .test_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
  }
  .test:hover {
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .test img {
    width: auto;
    height: 100%;
    margin-right: 2.5%;
    /* margin-bottom: 3%; */
  }
  .button {
    width: 10%;
    height: 20%;
    margin: 0% 2.5% 0% 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ellipsis {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    
}


  

